@import 'nib'
@import 'rupture'

:local(.container)
  display flex
  flex-flow row wrap
  align-items center
  justify-content center
  height 10rem
  padding 4rem
  border-bottom 1px solid #ccc
  margin 1rem
